:markdown

  ## Responsibilities

  * Supervise accounting staff on daily tasks
  * Provide training to new and existing staff as needed.
  * Ensure an accurate and timely month end close by providing leadership and support to the accounting close process. This role includes serving as a hands-on team member responsible for performing and reviewing transactions.
  * Assist with daily banking requirements.  Monitor and forecast cash position
  * Establish and enforce proper accounting policies and principles
  * Assist in development and implementation of new procedures to enhance the workflow of the department.
  * Responds to inquiries from the CFO, Controller, and company wide managers regarding financial results, special reporting requests and the like.
  * Assist in preparing for and managing annual external audit.  Coordinate with other auditors as needed.
  * Support overall department goals and objectives
  * This person will initially coordinate third party providers as an individual contributor. Over time this person will be expected to build and manage a team.
